* {
  margin: 0;
  padding: 0;
}
.banner {
  background: url(https://images.unsplash.com/photo-1510519138101-570d1dca3d66?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1147&q=80);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
.content h2 {
  padding: 0;
  color: rgb(255, 255, 255);
  font-size: 3em;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
  text-align: left;
  font-family: "Alfa Slab One", cursive;
  letter-spacing: 3px;
}
.content p {
  width: 40%;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  line-height: 2;
}
.content a {
  text-decoration: none;
  background: rgb(200, 7, 248);
  color: #fff;
  padding: 15px 35px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 50px;
  font-family: "Montserrat", sans-serif;
}
span:before {
  content: "";
  animation: wordChange infinite 8s;
  color: rgb(200, 7, 248);
}
@keyframes wordChange {
  0% {
    content: "Programmer";
  }
  20% {
    content: "Photographer";
  }
  40% {
    content: "Freelancer";
  }
  60% {
    content: "Gamer";
  }
  80% {
    content: "Designer";
  }
  100% {
    content: "Developer";
  }
}
